<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Clapp - Cover Letter App</title>
    <link rel="icon" href="img/favicon-clapp.png">
    <!--<link href="css/bootstrap.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="css/ng-tags-input.min.css" rel="stylesheet" />
    <link href="css/ng-tags-input.bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
</head>
<body ng-app="CoverLetterApp" ng-controller="letterController as vm">
    <div class="container">
        <nav class="navbar navbar-toggleable-md navbar-dark bg-faded">
            <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon rounded"></span>
            </button>
            <a class="navbar-brand" href="#">Clapp</a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Docs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/wendyconditions/LetterGeneratorApplication/issues">Issues</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/wendyconditions/LetterGeneratorApplication">Help</a>
                    </li>
                </ul>
                <!--<span class="navbar-text">
                    Navbar text with an inline element
                </span>-->
            </div>
        </nav>
    </div>
    <div class="jumbotron d-flex align-items-center">
        <div class="container">
            <h1 class="text-center">Automate and enhance your job hunt</h1>
            <h4 class="text-center subhead">Clapp is a cover letter generator used directly with <a href="https://www.indeed.com/">Indeed.com</a></h4>
            <div class="text-center">
                <button type="button" class="btn btn-lg btn-danger" ng-click="vm.scrollDown()">Let's get started</button>
                
            </div>
        </div>
    </div>
    <div class="container-fluid step">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Step One</h1>
                <h4>Head over to <a href="https://www.indeed.com/" target="_blank">Indeed.com</a> and enter a job search</h4>
            </div>
        </div>
    </div>

    <div class="container-fluid gen">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <h1 class="text-center">Step Two</h1>
                    <h4 class="text-center">Create your custom letter by filling out the form below</h4>
                    <form>
                        <div class="form-group">
                            <label for="jobUrl">Cut and paste job search URL from Indeed:</label>
                            <input class="form-control" ng-model="vm.data.url" placeholder="Sample: https://www.indeed.com/jobs?q=admin&l=Los+Angeles%2C+CA" />
                        </div>

                        <label for="tags">Enter Keywords: <em>E.g. html, css, javascript, etc</em></label>
                        <tags-input ng-model="tags" use-strings="true" on-tag-removed="vm.tagRemoved($tag)"></tags-input>
                        <br />

                        <div class="form-group" ng-repeat="tag in tags">
                            <label for="experience">Your Job Experience for <strong>{{tag}}</strong>: <em ng-if="$first">E.g. "Over 5 yrs using html in production enviornment."</em></label>
                            <input class="form-control" ng-model="vm.formInfo.exp[tag]" />
                        </div>
                        <div class="form-group">
                            <label for="coverletter">Write out the body of your own cover letter:</label>
                            <textarea class="form-control" rows="10" ng-model="vm.formInfo.message"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="name">Your Full Name:</label>
                            <input class="form-control" ng-model="vm.formInfo.name" />
                        </div>
                        <div class="form-group">
                            <label for="name">Your E-mail:</label>
                            <input class="form-control" ng-model="vm.formInfo.email" />
                        </div>
                        <br /><button class="btn btn-primary" ng-click="vm.btnUrl(vm.data)">Create</button>

                        <div ng-if="vm.dataLoading.load">
                            {{vm.dataLoading.message}}
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid letters" ng-if="vm.jobInfo.length">
        <h1 class="text-center wala">Walaaa - Cover letters galore!!!<br /></h1>
        <h4 class="text-center"><em>Showing {{vm.jobInfo.length | number}} Clapps</em>&nbsp;&nbsp;<img src="img/clapp_img.png" width="28px" height="28px" /></h4>

        <br />
        <div class="text-center">
            <button class="btn btn-primary btn-lg" ng-click="vm.btnResubmit(vm.data)" ng-if="vm.jobInfo.length">{{vm.dataLoading.resub ? 'loading...' : 'Get more!'}}</button>
        </div>
        <div class="container">
            <div class="row" ng-repeat="job in vm.jobInfo">
                <div class="col-sm-12 generated-letter">
                    <h2 class="bg-header-letter">Cover letter for {{job.title}}, {{job.company}}</h2>
                    <p><strong>Greetings {{job.company}},</strong><p>

                    <p>In response to your job post regarding the {{job.title}} position in your company I am submitting my resume for your review.</p>
                    {{vm.formInfo.message}}


                    <!--Qualifications repeat-->
                    <table class="table table-bordered" ng-if="job.qualInfo.matches.length > 0">
                        <thead>
                            <tr>
                                <th>Qualifications for {{job.title}}</th>
                                <th>How I Qualify</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="specs in job.qualInfo.matches">
                                <td width="50%">{{specs.theirwork}}</td>
                                <td width="50%">{{specs.mywork}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!--Closing statements of resume-->
                    <p>Please reference my resume for more details. I would appreciate the opportunity to meet with you to discuss my candidacy. Thank you for your time and consideration.</p><br />
                    <p>Regards,</p>
                    <p>
                        {{vm.formInfo.name}}
                        <br />
                        {{vm.formInfo.email}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary btn-block btn-lg" ng-click="vm.btnResubmit(vm.data)" ng-if="vm.jobInfo.length">{{vm.dataLoading.resub ? 'loading...' : 'Get more!'}}</button>

    <div class="container-fluid footer text-center">
        &copy; 2017-2018 Wendy Maldonado | <a href="https://wendyconditions.herokuapp.com/">wendyconditions.com</a> | Site powered by <a href="https://www.gearhost.com/">GearHost</a>
    </div>

    <!--Scripts-->
    <script src="../Scripts/jquery-3.2.1.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/angular.js"></script>
    <script src="js/module.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/service.js"></script>
    <script src="js/ng-tags-input.js"></script>
</body>
</html>