<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cover Letter App</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/ng-tags-input.min.css" rel="stylesheet" />
    <link href="css/ng-tags-input.bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
</head>
<body>
    <div ng-app="CoverLetterApp" ng-controller="letterController as vm" class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="color1">
                    <h1>Make your own cover letter</h1>
                    <form>
                        <div class="form-group">
                            <label for="jobUrl">Enter a job posting URL from Indeed:</label>
                            <input class="form-control" ng-model="vm.data.url" />
                        </div>
                        <!--Lookup tags input, when tags are created, have new input box show up requiring experience. So probably wont need the input field above, job experience-->
                        <label for="tags">Enter Keywords:</label>
                        <tags-input ng-model="vm.formInfo.tags" use-strings="true"></tags-input>
                        <br />
                        <div class="form-group" ng-controller="experienceController as ec" ng-repeat="tag in vm.formInfo.tags">
                            <label for="experience">Job Experience for {{tag}}:</label>
                            <input class="form-control" ng-model="ec.formInfo.exp" />
                        <pre>{{ec.formInfo | json}}</pre>
                        <button ng-click="vm.consoledata(ec.formInfo.exp)">Send to console</button>
                        </div>


                        <br /><button class="btn btn-primary" ng-click="vm.btnUrl(vm.data)">Create</button>
                    </form>
                </div>
            </div>
        </div>
        <!--This will eventually be layed out properly, with a heading indicating job followed by a full cover letter
        that can be exported to word or doc program-->
        <div class="row">
            <div class="col-sm-12" ng-repeat="job in vm.jobInfo">
                <div class="color2">
                    <h1 class="bg-primary">Cover letter for {{job.title}}, {{job.company}}</h1><br />
                    <p><strong>Greetings {{job.company}},</strong><p>
                    <p>In response to your job post regarding the {{job.title}} position in your company I am submitting my resume for your review.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>
                        Here are a couple projects I recently worked on that I feel are relevant to the qualifications you desire.
                        <ul>
                            <li>
                                <a href="https://blakwealth.azurewebsites.net/">https://blakwealth.azurewebsites.net</a>
                                (AngularJS, C#/.NET, SQL Server, AJAX, JSON, WebAPI, S3)
                                Set up all environments, custom filters, components, services, stored procedures, etc
                            </li>
                            <li>
                                <a href="https://wendyconditions.github.io/OpenMicNightProject">https://wendyconditions.github.io/OpenMicNightProject</a>
                                (Bootstrap, CSS, HTML, JS, and jQuery)
                                Basic responsive website, design, SVG graphics and animation
                            </li>
                            <li>
                                <a href="https://wendyconditions.herokuapp.com/">https://wendyconditions.herokuapp.com</a>
                                I also have a personal website showcasing some additional work
                            </li>
                            <li>
                                <a href="https://github.com/wendyconditions">https://github.com/wendyconditions</a>
                                also a Github where I have some additional applications
                            </li>
                        </ul>
                    </p>

                    <!--Qualifications repeat-->
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="col-md-6">Qualifications for {{job.title}}</th>
                                <th class="col-md-6">How I Qualify</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="quals in job.quals" ng-if="quals.match">
                                <td>{{quals.qual}} </td>
                                <td>{{quals.match}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!--Closing statements of resume-->
                    <p>Please reference my resume for more details. I would appreciate the opportunity to meet with you to discuss my candidacy. Thank you for your time and consideration.</p><br />
                    <p>Regards,</p>
                    <p>
                        Wendy Maldonado
                        <br />
                        myemail@myemail.com
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Scripts-->
    <script src="../Scripts/jquery-3.2.1.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/angular.js"></script>
    <script src="js/module.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/service.js"></script>
    <script src="js/ng-tags-input.min.js"></script>
</body>
</html>