* {
    font-family: 'Open Sans', sans-serif;
}
.navbar-brand {
    font-family: 'Kaushan Script', 'Helvetica Neue', Arial, Helvetica, sans-serif, cursive;
    font-size: 1.8em;
}
.bg-faded{
    background-color: #fff;
}

.collapse{
    font-size: 1em;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(2,17,216, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    border: 1px solid #eee;
}

.jumbotron {
    background-color: #feffff;
    margin-top: 3em;
}

.container h1 {
    font-size: 3.5em;
}

.subhead {
    margin-bottom: 8em;
}

.step {
    background-color: #def2f1;
    color: #17252a;
    padding: 6em;
}

.gen {
    background-color: #3aafa9;
    color: #feffff;
    padding: 6em;
}

form {
    color: #17252a;
    margin-top:2.3em;
}

.btn-danger {
    background-color: #2b7a78;
    border: #2b7a78;
}

    .btn-danger:hover {
        background-color: #17252a;
        border: #2b7a78;
    }

    .btn-danger:active {
        background-color: #17252a;
        border: #2b7a78;
    }
    .btn-danger:focus {
        background-color: #17252a;
        border: #2b7a78;
    }
    .btn-danger:active:focus {
        background-color: #17252a;
        border: #2b7a78;
    }
.wala {
    text-decoration: underline;
}

.letters {
    background-color: #17252a;
    color: #feffff;
    padding: 6em;
}

.generated-letter {
    margin-bottom: 25px !important;
    background-color: #feffff;
    color: #17252a;
    margin-top: 2.3em;
    border: 1px solid white;
    padding: 10px;
}
.bg-header-letter {
    background-color: #17252a;
    color: #fff;
    /*font-size: 1em!important;*/
}

.footer {
    background-color: #eeeeee;
    padding: 1.5em;
}
